head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' )
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js') 
  title Document
.col-md-12
  .card-body
    .card-header
      .card-title.breadcrumb CUSTOMER REQUESTS
      div.form-row
        div.col.form-group.col-md-12   
            form.search(action='/clist')
                div.form-row
                    div.col-md-8
                        input.form-control(name='gender' placeholder="Enter your search term(gender) ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
    table.table.table-bordered
      thead.thead-success
        tr
            th Name
            th Location
            th Service Requested
            th Number of Trucks
            th NIN
            th Request Duration
            th Type of Request
            th Contact
            th
            th
      tbody        
      if users.length
          each user in users
            tr
              td #{user.name}
              td #{user.location}
              td #{user.service_requested}
              td #{user.no_trucks}
              td #{user.nin}
              td #{user.request_duration}
              td #{user.type_of_request}
              td #{user.contact}
              td
                  a(href='/update/'+ user._id)  Update
              td
                form(method='POST' action='/delete')
                  input(type='hidden' placeholder='' name='id'  value='user._id')
                  button.btn.btn-dark.btn-block(type='submit') Delete
div.form-row
div.col-md-2.offset-12
  form(method="post" action='/logout') 
      button.btn.btn-success.btn-block(type="submit") Log out


